.git
.github
.env
.env.example
node_modules
vendor
tests
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.editorconfig
.gitignore
.gitattributes
phpunit.xml
README.md
IMPROVEMENT_PLAN.md
*.md
public/hot
public/storage
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
